.custom-shape-divider-top-1755358144 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1755358144 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 138px;
}

.custom-shape-divider-top-1755358144 .shape-fill {
  fill: #FA7C7C;
}
